# Base de datos
DATABASE_URL="postgresql://gutleber:gutleber2026@localhost:5433/gutleber_db"

# JWT
JWT_SECRET=cambia_este_secreto_en_produccion
JWT_EXPIRES_IN=7d

# API
PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# WhatsApp
WA_SESSION_PATH=./baileys_auth_info

# Producción (VPS)
# VPS_HOST=
# VPS_USER=
# VPS_PORT=22
